@import "../../styles/theme";

.HomePageMenu {
  /*border: 1px solid green;*/
  min-width: 20rem;
  width: 50%;

  display: grid;
  grid-template-columns: auto auto;
}

.HomePageMenu .menuItem {
  text-align: center;
  text-decoration: none;
  font-size: $fontSize2;
  color: $defFG;
}

.HomePageMenu .menuItem:hover {
  color: $altFG;
}

.InvoiceInfoMenu {
  width: 60%;
}
