@import "../../styles/theme";

.formContainer {
  border: 1px solid pink;
  padding: 2rem;

  height: 60vh;
  border-radius: 1rem;
}

.addNewItemForm .textInputs,
.addNewItemForm .numericInputs
label {
  font-size: 1.5rem;
}

.addNewItemForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 85%;
}

.addNewItemForm .textInputs,
.addNewItemForm .numericInputs {
  border: 1px solid $altBorderColor;
  width: 30%;
  justify-content: space-around;
}

.addNewItemForm .numericInputs input {
  width: 5.5rem;
}

.addNewItemForm .menuButtons {
  justify-content: space-around;
  border: 1px solid $defBorderColor;
  width: 15%;
}

.addNewItemForm .menuButtons * {
  width: 100%;
}

.addNewItemForm div {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1.5rem;

  overflow: scroll;
}

/* hide scrollbars */
.addNewItemForm div::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Opera */
}
.addNewItemForm div {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* hide arrows in numericInputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.addNewItemForm label {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
  border-bottom: 1px dotted $labelUnderlineColor;
}

@media only screen and (max-device-width: 480px) {
  .formContainer {
    padding: 0.5rem;
    height: auto;
  }
  .addNewItemForm {
    flex-direction: column;
  }
  .addNewItemForm .textInputs,
  .addNewItemForm .numericInputs,
  .addNewItemForm .menuButtons {
    width: 90%;
    padding: 1rem;
    margin: 1rem auto;
  }
}
