@import "../../../styles/theme";
@import "../../../styles/view";

.view {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;;
}

.tile {
	width: 5rem;
	height: 5rem;

	border: 1px dashed $defFG;
	margin: 1rem;
}
