@import "theme";

* {
  font-family: $defFont
}

body {
  background-color: $defBG;
  color: $defFG;
  margin: 0;
}

.root-content {
  width: 95%;
  margin: auto;
  margin-bottom: 3rem;
}

.BillingPageFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70vh;
}
.BillingPageFlex div {
  box-sizing: border-box;
  border: 1px solid pink;
}

@media only screen and (max-device-width: 480px) {
  .root-content {
    width: 95%;
  }
}

