@import "theme";

* {
  font-family: $defFont
}

body {
  background-color: $defBG;
  color: $defFG;
  margin: 0;
}

.root-content {
  width: 95%;
  margin: auto;
}

@media only screen and (max-device-width: 480px) {
  .root-content {
    width: 95%;
  }
}

