@import "../../styles/theme";

.ItemsDisplay,
.ItemsDisplay table {
  width: 100%;
}

.ItemsDisplay {
  margin: 3rem auto;
}

.ItemsDisplay .legend {
  background-color: $altBG;
}

.ItemsDisplay th {
  font-size: 1.2rem;
}

.ItemsDisplay td {
  text-align: center;
  border-bottom: 1px solid $tableDefBorderColor;
  font-size: 1.5rem;
}

.ItemsDisplay .leftAlign {
  text-align: left;
}

.ItemsDisplay .altBorder {
  border-bottom: 1px solid $tableAltBorderColor;
}

