@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
/* Experimental color scheme */
/* light theme */
/* 
$defBG: #FFFFFF;
$altBG: lightgray;
$defFG: #000000;
$altFG: #232627;
$defLink: brown;
$altLink: brown;

$defShadow: 0px 0px 4px #232627;
*/
/* Inspired by Dracula */
.ItemsDisplay,
.ItemsDisplay table {
  width: 100%; }

.ItemsDisplay {
  margin: 3rem auto; }

.ItemsDisplay .legend {
  background-color: #383A59; }

.ItemsDisplay th {
  font-size: 1.2rem; }

.ItemsDisplay td {
  text-align: center;
  border-bottom: 1px solid lightblue;
  font-size: 1.5rem; }

.ItemsDisplay .leftAlign {
  text-align: left; }

.ItemsDisplay .altBorder {
  border-bottom: 1px solid gray; }
